In [2]:
import pandas as pd
import requests
from io import StringIO
from sqlalchemy import create_engine

In [3]:

# Google Drive file ID
file_id = "1EdSbZUdL9852dLdq14HgYfToQqymtBl-"
url = f"https://drive.google.com/uc?export=download&id={file_id}"

the file link from google drive:
https://drive.google.com/file/d/1EdSbZUdL9852dLdq14HgYfToQqymtBl-/view?usp=drive_link
the part between d/ and /view is the id:
1EdSbZUdL9852dLdq14HgYfToQqymtBl-

In [4]:

# Fetch CSV content
response = requests.get(url)
response.raise_for_status()  # Ensure the request was successful

In [5]:

# Read CSV directly into a Pandas DataFrame
csv_data = StringIO(response.text)
df = pd.read_csv(csv_data)

In [6]:
#Connection with PostgreSQL

# Database connection parameters
host = "localhost"
port = "5432"
database = "blinkit"
user = "postgres"
password = "1357"

# Create the SQLAlchemy engine
engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}")

In [7]:
table_name = "grocery"
# Insert data into PostgreSQL
df.to_sql(table_name, engine, if_exists="append", index=False)

print("Data uploaded successfully!")

Data uploaded successfully!

In [8]:
df

,Item Fat Content,Item Identifier,Item Type,Outlet Establishment Year,Outlet Identifier,Outlet Location Type,Outlet Size,Outlet Type,Item Visibility,Item Weight,Total Sales,Rating
0,Regular,FDX32,Fruits and Vegetables,2012,OUT049,Tier 1,Medium,Supermarket Type1,0.100014,15.10,145.4786,5.0
1,Low Fat,NCB42,Health and Hygiene,2022,OUT018,Tier 3,Medium,Supermarket Type2,0.008596,11.80,115.3492,5.0
2,Regular,FDR28,Frozen Foods,2010,OUT046,Tier 1,Small,Supermarket Type1,0.025896,13.85,165.0210,5.0
3,Regular,FDL50,Canned,2000,OUT013,Tier 3,High,Supermarket Type1,0.042278,12.15,126.5046,5.0
4,Low Fat,DRI25,Soft Drinks,2015,OUT045,Tier 2,Small,Supermarket Type1,0.033970,19.60,55.1614,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,low fat,NCT53,Health and Hygiene,1998,OUT027,Tier 3,Medium,Supermarket Type3,0.000000,NaN,164.5526,4.0
8519,low fat,FDN09,Snack Foods,1998,OUT027,Tier 3,Medium,Supermarket Type3,0.034706,NaN,241.6828,4.0
8520,low fat,DRE13,Soft Drinks,1998,OUT027,Tier 3,Medium,Supermarket Type3,0.027571,NaN,86.6198,4.0
8521,reg,FDT50,Dairy,1998,OUT027,Tier 3,Medium,Supermarket Type3,0.107715,NaN,97.8752,4.0
8522,reg,FDM58,Snack Foods,1998,OUT027,Tier 3,Medium,Supermarket Type3,0.000000,NaN,112.2544,4.0